[user]
	name = Yuya Matsushima
	email = yuyam@fillin-inc.com
[core]
  editor = nvim
  excludesfile = ~/.gitignore
  pager = delta
  quotepath = false
  precomposeunicode = true
  whitespace = cr-at-eol
[color]
  diff = auto
  status = auto
  branch = auto
  interactive = auto
[interactive]
  diffFilter = delta --color-only
[delta]
  navigate = true
  dark = true
  line-numbers = true
  plus-style = "syntax #1a2e1a"
  minus-style = "syntax #4d2840"
  plus-emph-style = "syntax #2a4a2a"
  minus-emph-style = "syntax #6b3858"
  hunk-header-decoration-style = "blue box"
[diff]
  algorithm = histogram
[merge]
  ff = false
  tool = vimdiff
  conflictstyle = zdiff3
[pull]
  rebase = true
[fetch]
  prune = true
[rerere]
  enabled = true
[alias]
  h = "log --graph --all --pretty='format:%C(yellow)%h%Creset %s %Cgreen(%an)%Creset %Cred%d%Creset'"
  l = "log --pretty='format:%C(yellow)%h%Creset %s %Cgreen(%an)%Creset %Cred%d%Creset'"
  stat = "log --stat"
  com = "commit -v"
  amend = "commit --amend -v"
  co = "checkout"
  st = "status -sb"
  b  = "branch -a"
  current = "rev-parse --abbrev-ref HEAD"
  list = "config --list"
  grep = "grep --color=auto"
  cached = "diff --cached"
  hash = "rev-parse --short HEAD"
[credential]
	helper = osxkeychain
[push]
	default = current
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	required = true
	trustExitCode = true
	process = git-lfs filter-process
[http]
	sslVerify = true
[secrets]
	providers = git secrets --aws-provider
	patterns = (A3T[A-Z0-9]|AKIA|AGPA|AIDA|AROA|AIPA|ANPA|ANVA|ASIA)[A-Z0-9]{16}
	patterns = (\"|')?(AWS|aws|Aws)?_?(SECRET|secret|Secret)?_?(ACCESS|access|Access)?_?(KEY|key|Key)(\"|')?\\s*(:|=>|=)\\s*(\"|')?[A-Za-z0-9/\\+=]{40}(\"|')?
	patterns = (\"|')?(AWS|aws|Aws)?_?(ACCOUNT|account|Account)_?(ID|id|Id)?(\"|')?\\s*(:|=>|=)\\s*(\"|')?[0-9]{4}\\-?[0-9]{4}\\-?[0-9]{4}(\"|')?
	allowed = AKIAIOSFODNN7EXAMPLE
	allowed = wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY
[init]
	templatedir = $HOME/.git-templates/git-secrets
	defaultBranch = main
