# for GitHub
# export HOMEBREW_GITHUB_API_TOKEN=your-token
# export CR_PAT=github-access-token-for-ghcr.io

# for ecr-login
# export AWS_REGION=ap-northeast-1
# export AWS_ECR_REPOSITORY=account-id.dkr.ecr.region.amazonaws.com
